.dcmseg-segmentation-panel {
  color: white;
  min-height: 200px;
  background-color: var(--primary-background-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dcmseg-segmentation-panel.disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* .dcmseg-segmentation-panel h3 {
  color: var(--default-color);
  margin: auto 0;
}

.dcmseg-segmentation-panel .segmentations {
  padding: 0 10px 10px 10px;
}

.dcmseg-segmentation-panel .cog-icon {
  margin: auto 0;
  margin-top: 0;
} */

.dcmseg-segmentation-panel .segmentations {
  padding-bottom: 10px;
}

.dcmseg-segmentation-panel .cog-icon {
  align-self: flex-end;
  color: var(--default-color);
  cursor: pointer;
  min-height: 23px;
  max-height: 23px;
}

.dcmseg-segmentation-panel .cog-icon:hover {
  color: var(--hover-color);
}

.dcmseg-segmentation-panel .segmentation-icon {
  margin-right: 8px;
  margin-top: 12px;
  min-width: 14px;
}

.dcmseg-segmentation-panel .selector-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 150px;
}

.dcmseg-segmentation-panel .selector-form > div {
  width: 100%;
}

.dcmseg-segmentation-panel .selector-form > div:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dcmseg-segmentation-panel .tableList .tableListHeader .numberOfItems {
  float: unset;
  max-width: unset;
  flex: unset;
  margin-right: 16px;
}
/* .dcmseg-segmentation-panel .tableList .tableListContent .segment-item.selected{
  background-color: #2b2a2a;
}
.dcmseg-segmentation-panel .tableList .tableListContent .segment-item.selected .segment-color-section{
  color: yellow;
}
.dcmseg-segmentation-panel .tableList .tableListContent .segment-item.selected .itemContent{
  color: yellow;
}
.dcmseg-segmentation-panel .tableList .tableListContent .segment-item.selected .segment-color-section .segment-color{
  box-shadow: white 0px 0px 8px 0px;
}
.plus-icon{
  margin-left: 25px;
  margin-bottom: -3px;
}
.segmentations-header{
  width:100%;
  padding: 16px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Segmentation-control{
  width:100%;
  padding: 2px 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.button-icon{
  cursor:pointer;
  color: var(--default-color);
  margin-left: 25px;
}
.button-icon:hover{
  color: var(--hover-color);
}
.simpleDialog .footer{
  margin: 20px 0;
}
.DraggableArea .Overlay{
  background: rgba(0,0,0,0.7)!important; */

.SegmentsSection {
  display: flex;
  flex-direction: column;
  color: var(--text-primary-color);
  font-size: 12px;
  margin-bottom: 0px;
  height: 100%;
}

.SegmentsSection .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ui-gray-dark);
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 15px;
}

.SegmentsSection .count {
  font-size: 15px;
  color: var(--active-color);
  margin-left: 15px;
  border-radius: 5px;
  background-color: var(--ui-gray-darker);
  text-align: center;
  min-width: 25px;
}

.SegmentsSection .header .eye-icon,
.SegmentsSection .header .angle-double-down,
.SegmentsSection .header .angle-double-up {
  cursor: pointer;
  color: var(--active-color);
}

.SegmentsSection .header .eye-icon:hover,
.SegmentsSection .header .angle-double-down:hover,
.SegmentsSection .header .angle-double-up:hover {
  color: var(--hover-color);
}

.SegmentsSection .header .eye-icon.expanded {
  color: var(--default-color);
}

.SegmentsSection .header .icons {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.SegmentsSection .header .icons .angle-double-down,
.SegmentsSection .header .icons .angle-double-up {
  margin-left: 15px;
}
